Language: Cpp
Standard: C++23
BasedOnStyle: Google
ColumnLimit: 140
BreakBeforeBraces: Allman
IndentWidth: 4
NamespaceIndentation: All
AlignTrailingComments: true
SortIncludes: true
BinPackParameters: false
AccessModifierOffset: -4
